<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title><%= project_name %> | Set New Password</title>
    <link rel="stylesheet" href="css/bootstrap_and _fontawesome.min.css">
    <link rel="stylesheet" href="css/auth_style.css">
  </head>
<body>
    <div class="loader"></div>
    <div id="app">
        <section class="section">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4>Reset Your Password</h4>
                            </div>
                            <div class="card-body">
                                <p class="text-muted">Set a new password that only you can remember</p>
                                <form method="POST" action="#" class="needs-validation" novalidate="">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input id="email" type="email" class="form-control" name="email" value="<%= email %>" tabindex="1" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input id="password" type="password" class="form-control" name="password" tabindex="2" required>
                                        <div class="password invalid-feedback"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirm_password">Confirm Password</label>
                                        <input id="confirm_password" type="password" class="form-control" name="confirm_password" tabindex="2" required>
                                        <div class="confirm_password invalid-feedback"></div>
                                    </div>
                                    <div class="error bg-danger text-white p-2 text-center d-none rounded mb-4"></div>
                                    <div class="success bg-success text-white p-2 text-center d-none rounded mb-4"></div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="mt-5 text-muted text-center">
                            Don't have an account? <a href="/signup">Create Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    <script src="js/jquery.min.js"></script>
    <script src="js/localStorage.js"></script>
    <script>
        $(window).on("load", function () {
            $(".loader").fadeOut("slow");
        });

        const form = document.querySelector('form')
        const passwordErr = document.querySelector('.password.invalid-feedback')
        const confirmPasswordErr = document.querySelector('.confirm_password.invalid-feedback')
        const errorDiv = document.querySelector('.error')
        const successDiv = document.querySelector('.success')

        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            errorDiv.classList.add('d-none')
            successDiv.classList.add('d-none')

            passwordErr.textContent = ''
            confirmPasswordErr.textContent = ''
            errorDiv.textContent = ''
            successDiv.textContent = ''

            const req_body = JSON.stringify({
                new_password: form.password.value,
                token: "<%= token %>"
            })
            
            if (form.confirm_password.value != form.password.value) {
                confirmPasswordErr.textContent = 'Confirm Password did not match Password'
                e.stopPropagation()
                return false
            }
            
            try {
                const res = await fetch('/api/v1/auth/reset-password', {
                    method: 'POST',
                    body: req_body,
                    headers: { 'Content-Type':'application/json'}
                })

                const data = await res.json();
                if (data.success) {
                    successDiv.classList.remove('d-none')
                    successDiv.textContent = `${data.success}: Redirecting to Login...`
                    setTimeout(() => {
                        location.assign('/login')
                    }, 2000);
                }
                
                if (data.error) {
                    errorDiv.classList.remove('d-none')
                    errorDiv.textContent = data.error
                }
            } catch (err) {
                console.log(err);
            }
        })
            
    </script>
</body>
</html>